<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>986546246467-5fpp2449tu45hds1jn9kvt32vk5964uo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986546246467-5fpp2449tu45hds1jn9kvt32vk5964uo</string>
	<key>API_KEY</key>
	<string>AIzaSyAzF9mgmQtcb7QCc3OBhpbwiu6pCneoi6s</string>
	<key>GCM_SENDER_ID</key>
	<string>986546246467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acl.yulii</string>
	<key>PROJECT_ID</key>
	<string>intouch-dev-269817</string>
	<key>STORAGE_BUCKET</key>
	<string>intouch-dev-269817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:986546246467:ios:ac9bf4124aacbc99b915f6</string>
	<key>DATABASE_URL</key>
	<string>https://intouch-dev-269817.firebaseio.com</string>
</dict>
</plist>